<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.svgk.mnnitacademicportal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mnnit"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mnnit"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ForgotActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".FeedbackActivity"
            android:label="@string/course_feedback"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".AdminActivity" />
        <activity
            android:name=".EmailActivity"
            android:label="Email"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".NotificationActivity" />
        <activity
            android:name=".UserProfile"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ResetActivity" />
        <activity android:name=".ChangePassword" />

        <service android:name=".FirebaseNotification.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FirebaseNotification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".DownloadActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".ResultActivity" />
        <activity android:name=".TranscriptActivity" />
        <activity android:name=".SemesterRegistration"/>
    </application>

</manifest>